<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RequestURL" value="http://localhost:56575/api/Test"/> <!--Web API URL-->
    <add key="ClientID" value="{daemonClient_client_id}" />
    <add key="TenantID" value="{tenant_id}" />
    <add key="Scopes" value="{scopes_separated_by_commas}" />
    <add key="ClientSecret" value="{client_secret}" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>